.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16%;
}

.container-title h1 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #2f2c79;
}

.container-title p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #2f2c79;
}