.banner {
    background-color: #2f2c79;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 72%;
    margin: auto;
}

.title {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.descricao {
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.botao {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #2f2c79;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 20px;
}