.bookTitlee {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
}

.bookList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    gap: 0.5rem; 
    justify-content: center;
}

.bookNovo {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #2f2c79;
    border-radius: 5px;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0; 
}

.bookCard {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.bookCover img {
    width: 140px; 
    height: 190px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 1rem;
}

.bookAuthorr p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(0, 0, 0);
}

.bookAvaliacaoo {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: gray;
}

.bookGeneroo {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: rgb(200, 201, 255);
    border-radius: 5px;
}

.bookPricee {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #2f2c79;
}

.bookPriceFav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
}

.bookPricee, .bookFav {
    font-size: 1rem;
    font-weight: bold;
}
