.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    border-radius: 9px;
    padding: 1%;
    width: 20%;
    transition: 0.3s ease-in-out;
}

.card .emojii{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #2f2c79;
}

.card .categoriaa {
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}

.card:hover {
    background-color: #a7a3ff;
    cursor: pointer;
    scale: 1.05;
    transition: 0.3s ease-in-out;
}