@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin: 2%;
}

.title {
    width: 14%;
}

.header h1 {
    color: #2f2c79;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-left: 2%;
}

.header p {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: .65rem;
    margin-left: 2%;
}

.header span {
    color: #2f2c79;
}

.menu {
    display: flex;
    gap: 1.2rem;
    margin-left: 6%;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: .85rem;
}

.menu .on {
    color: #2f2c79;
    border-bottom: 2px solid #2f2c79;
}

.search {
    margin-left: 5%;
}

.search input {
    padding: 5px;
    height: 1.2rem;
    border: 1px solid #9c9c9c;
    border-right: none;
    border-radius: 30px 0 0 30px;
    outline: none;
}

.search button {
    height: 1.9rem;
    border: 1px solid #9c9c9c;
    border-left: none;
    width: 2.5rem;
    border-radius: 0 30px 30px 0;
    background-color: #2f2c79;
    color: white;
}

.search button:hover {
    background-color: #3f3c79;
}

.icon {
    margin-left: 5%;
    gap: 2rem;
}

.icon a {
    text-decoration: none;
    padding: 10px;
}
