.list {
    list-style: none;
    width: 50%;
}

.listItem {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.listItem ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
    font-size: .9rem;
    margin-bottom: 7%;
}